.custom-select {
  position: relative;
  display: inline-block;
  @include mobile-xl{
    width: 100%;
  }
  select {
    display: block;
    width: 265px;
    min-height: 35px;
    font-weight: 900;
    color: inherit;
    background: #F7FAFD;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 5px 45px 5px 30px;
    cursor: pointer;
    appearance: none;
    transition: .3s;
    @include mobile-xl{
      width: 100%;
    }
  }
  &::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: $darkGrey;
    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: $darkGrey;
    transform: translate(3px, -50%) rotate(-45deg);
  }
  &.active{
    &::after{
      transform: translate(3px, -50%) rotate(45deg);
    }
    &::before{
      transform: translate(-3px, -50%) rotate(-45deg);
    }
  }
  .selector-options {
    list-style: none;
    padding: 24px 30px;
    margin: 0;
    background: #F7FAFD;
    z-index: 1;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 6px);
    li {
      height: 35px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:nth-of-type(2){
        color: $lightBlue;
      }
      &:nth-of-type(3){
        color: $sandy;
      }
      &:nth-of-type(4){
        color: $tomato;
      }
      &:nth-of-type(5){
        color: $darkturqoise;
      }
    }
  }
}