.custom-image{
  position: relative;
  margin: 0 10px 10px 10px;
  width: fit-content;
  &.custom-shadow{
    box-shadow: 0px 35px 70px rgba(180, 202, 223, 0.3);
  }
  &__banner{
    position: absolute;
    right: -39px;
    bottom: -58px;
    width: 245px;
    height: 237px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 1199px) {
      width: 164px;
      height: 164px;
      right: -20px;
    }
  }

  @include laptop-xs{
    width: calc(100% - 20px);
  }
  img{
    width: 100%;
  }
  &:before{
    content: '';
    position: absolute;
    top: 25%;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
  }
  &_blue{
    &:before{
      background: var(--blue-gradient);
    }
  }
  &_orange{
    &:before{
      background: var(--orange-gradient);
    }
  }
}
