.rounded-button{
  position: relative;
  display: block;
  background: transparent;
  padding: 13px 73px 14px 32px;
  width: fit-content;
  color: var(--dark-grey);
  @include font(16px, 900, 22px);
  border-radius: 100px;
  border: 1px solid var(--light-blue);
  overflow: hidden;
  z-index:0;
  cursor: pointer;
  transition: .3s ease-in;
  transition-property: all!important;
  transition-delay: 0s !important;
  @include mobile-l {
    width: 70%;
    padding-left: 30px;
    text-align: left;
  }

  @include mobile-m {
    width: 100%;
  }
  &_centered{
    margin: 0 auto;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
    z-index: -1;
    transform: translateX(100%);
    transition: transform .3s ease-in;
  }
  &:after{
    content: url("../img/icons/light_arrow_right.svg");
    position: absolute;
    right: 4px;
    top: 4px;
    @include flexAlignment(center, center);
    border-radius: 100px;
    background: var(--light-blue);
    transition: .3s ease-in;
    width: 41px;
    height: 41px;
  }
  &:hover{
    color: var(--white);
    &:before{
      transform: translateX(0);
    }
    &:after{
      content: url("../img/icons/blue_arrow_right.svg");
      background: var(--white);
    }
  }
  &:disabled{
    background: var(--disabled);
    cursor: auto;
    &:after{
      background: var(--disabled);
    }
    &:hover{
      color: inherit;
    }
  }
}

.tomato {
  .rounded-button {
    &:hover {
      &:after {
        content: url("../img/icons/red_arrow_right.svg");
      }
    }
  }
}