.basement{
  &__inner{
    padding: 110px 50px;
    @include laptop-xs {
      padding: 40px 40px 350px 40px;
    }
    @include mobile-s {
      padding: 20px 15px 300px 15px;
    }
  }
  .container{
    position: relative;
    background-image: linear-gradient(90deg, #00C0E7 0%, #00E3CF 100%);;
    background-position-x: 0;
    background-size: 70%;
    background-repeat: no-repeat;
    margin-top: 260px;
    max-width: 1200px;
    z-index: 0;
    @include laptop-xs{
      margin: 90px 10px 10px 10px;
      background-size: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30%;
      background: linear-gradient(90deg, #FF566D 0%, #FFC33A 100%);;
      box-sizing: border-box;
      transform: rotate(180deg);
      z-index: -3;
      @include laptop-xs{
        display: none;
      }
    }
    &:before {
      content: url("../img/basement/basement_background.png");
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__persons{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @include laptop-xs{
      left: 50%;
      width: calc(100% - 20px);
      transform: translate(-50%, -10px);
    }
  }
  &__person{
    position: relative;
    width: fit-content;
    &:first-of-type{
      transform: translate(50%, 0);
      z-index: 1;
      @include mobile-xl{
        position: absolute;
        left: -10px;
        transform: none;
      }
    }
    &-img{
      width: fit-content;
      @include mobile-xl {
        img {
          height: 64vw;
        }
      }
    }
    &-info{
      position: absolute;
      bottom: 20px;
      left: -10px;
      color: $white;
      z-index: 2;
      @include mobile-xl{
          left: 30px;
      }
      &_centered{
        left: 50%;
        transform: translate(-50%, 0);
      }
      h6 , .text2{
        line-height: 1;
        width: fit-content;
        padding: 3px;
        background: $darkGrey;
        @include mobile-s{
          transform: scale(0.8);
        }
      }
      h6{
        margin-bottom: 7px;
        white-space: nowrap;
      }
    }
  }
  &__info{
    h3{
      color: $white;
      margin-bottom: 60px;
    }

    .rounded-button {
      color: $white;
      border: 1px solid $white;

      &:after {
        content: url(../img/icons/blue_arrow_right.svg);;
        background: $white;
      }

      &:before {
        background: white;
      }

      &:hover {
        color: $lightBlue;
        &:after {
          content: url(../img/icons/light_arrow_right.svg);;
          background: $lightBlue;
        }
      }
    }
  }
}