.basement {
  &__inner {
    padding: 85px 50px;
    @include laptop-xs {
      padding: 50px 35px 304px;
    }
    @include mobile-s {
      padding: 20px 15px 300px 15px;
    }
  }

  .container {
    position: relative;
    background-image: linear-gradient(90deg, #00C0E7 0%, #00E3CF 100%);;
    background-position-x: 0;
    background-repeat: no-repeat;
    margin-top: 260px;
    max-width: 1200px;
    z-index: 0;
    @include laptop-xs {
      margin: 90px 10px 10px 10px;
      background-size: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 35%;
      background: linear-gradient(90deg, #FF566D 0%, #FFC33A 100%);
      box-sizing: border-box;
      z-index: -3;
      @include laptop-xs {
        display: none;
      }
    }

    &:before {
      content: url("../img/basement/basement_background.png");
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__persons {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 478px;

    @include laptop-xs {
      left: 50%;
      transform: translate(-50%, 0px);
    }
    @include tablet-m {
      height: 265px;
    }
  }

  &__person {
    position: absolute;
    width: fit-content;
    width: 317px;
    height: 100%;
    bottom: 0;
    right: 0;
    @include tablet-m {
      width: 180px;
    }

    .basement__person-info {
      bottom: 54px;
      left: 1px;
      h6{
        white-space: initial!important;
      }
      @include tablet-m {
        max-width: 120px;
        bottom: 19px;
        left: -24px;
      }
    }

    &:first-child {
      z-index: 1;
      height: 467px;
      right: 197px;
      width: 436px;

      .basement__person-info {
        bottom: 55px;
        left: -10px;
        @include tablet-m {
          bottom: 19px;
          left: 24px;
        }
      }

      @include tablet-m {
        height: 256px;
        right: 113px;
        width: 249px;
      }
    }

    &-img {
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        max-width: initial;
        object-fit: contain;
      }

    }

    &-info {
      position: absolute;
      color: var(--white);
      z-index: 2;
      @include mobile-xl {
        left: 30px;
      }

      h6, .text2 {
        line-height: 1;
        width: fit-content;
        padding: 2px 3px;
        background: var(--dark-grey);
        @include mobile-s {
          transform: scale(0.8);
        }
      }

      h6 {
        margin-bottom: 5px;
        white-space: nowrap;
      }
    }
  }

  &__info {
    position: relative;
    z-index: 2;

    h3 {
      color: var(--white);
      margin-bottom: 60px;
    }

    @include tablet-m {
      h3 {
        margin-bottom: 27px;
      }
    }

    .rounded-button {
      color: var(--white);
      border: 1px solid var(--white);

      &:after {
        content: url(../img/icons/blue_arrow_right.svg);
        background: var(--white);
      }

      &:before {
        background: white;
      }

      &:hover {
        color: #00C0E7;

        &:after {
          content: url(../img/icons/light_arrow_right.svg);
          background: #00C0E7;
        }
      }
    }
  }

  &_bg {
    .basement__info {
      @include laptop-xs {
        padding: 0 45px;
      }
    }

    .container {
      background-size: cover;
      @include laptop-xs {
        padding: 0;
        margin: 30px 0 0 0;
      }

      &:before {
        display: none;
      }
    }

    h3 {
      color: var(--white);;
    }

    .basement__inner {
      padding: 70px 50px;
      @include laptop-xs {
        padding: 70px 0;
      }
    }

    .basement__persons {
      @include laptop-xs {
        position: relative;
        bottom: -80px;
      }
    }

    .basement__person {
      @include laptop-xs {
        width: auto;
        &:first-of-type {
          position: relative;
          width: auto;
          transform: translate(50%, 0);
        }
      }
      @include mobile-xl {
        width: auto;
        flex-shrink: 0;
      }
    }

    .basement__person-img {
      img {
        @include mobile-xl {
          object-fit: initial;
        }
      }

    }
  }

  &_cta {
    .rounded-button {
      display: inline-block;
    }

    .container {
      &:before,
      &:after {
        display: none;
      }
    }

    .basement__inner {
      text-align: center;
    }
  }
}
