.contacts{
  .section-header{
    margin: 93px auto;
  }
  .section-form{
    &__content{
      display: flex;
      box-shadow: 0px 35px 70px 10px rgba(180, 202, 223, 0.3);
      background-color: #fff;
      &_form{
        flex: 0 1 65%;
        padding: 60px 35px 69px;
      }
      &_description{
        position: relative;
        flex: 0 1 35%;
        background: linear-gradient(90deg, #00C0E7 0%, #00E3CF 100%);
        color: #fff;
        padding: 57px 52px 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        .description{
          &__top{
            position: relative;
            z-index: 2;
            p{
              font-size: 21px;
              line-height: 30px;
              font-weight: 500;
              strong{
                font-weight: 700;
                font-size: 26px;
                line-height: 35px;
              }
            }
            a{
              position: relative;
              display: block;
              margin: 26px 0;
              font-size: 21px;
              line-height: 35px;
              font-weight: 500;
              padding: 0 0 0 35px;
              max-width: 210px;

              &:before{
                content: '';
                position: absolute;
                width: 21px;
                height: 21px;
                top: 7px;
                left: 0;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
              &:first-of-type{
                margin: 48px 0 26px 0;
              }
              &._mail{
                &:before{
                  background-image: url("../../img/awards/mail.svg");
                }
              }
              &._phone{
                &:before{
                  background-image: url("../../img/awards/phone.svg");
                }
              }
              &._address{
                &:before{
                  background-image: url("../../img/awards/place.svg");
                }
              }
            }
          }
          &__bottom{
            position: relative;
            z-index: 2;
            align-self: flex-end;
            display: flex;
            margin: 50px 0 0 0;
            a{
              width: 21px;
              height: 21px;
              margin: 0 16px 0 0;
              &:last-child{
                margin: 0;
              }
              img{
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
          &__img{
            position: absolute;
            width: 1007px;
            height: 527px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1023px) {
    .section-form{
      &__content{
        flex-direction: column;
        &_form{
          flex: initial;
        }
        &_description{
          flex: initial;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .section-form{
      &__content{
        &_description{
          padding: 25px 30px 35px;
          .description{
            &__top{
              p{
                font-size: 18px;
                line-height: 24px;
                strong{
                  font-size: 20px;
                  line-height: 28px;
                }
              }
              a{
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}