.contacts {
  .section-header {
    margin: 93px auto;
  }

  .section-form {
    &__content {
      display: flex;
      box-shadow: 0px 35px 70px 10px rgba(180, 202, 223, 0.3);
      background-color: #fff;

      &_form {
        flex: 0 1 65%;
        padding: 57px 35px 69px;
      }

      &_description {
        position: relative;
        flex: 0 1 35%;
        background: linear-gradient(90deg, #00C0E7 0%, #00E3CF 100%);
        color: #fff;
        padding: 57px 52px 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        .description {
          &__top {
            position: relative;
            z-index: 2;

            p {
              font-size: 21px;
              line-height: 30px;
              font-weight: 500;

              &:last-of-type {
                margin: 0 0 48px 0;
              }

              strong {
                font-weight: 700;
                font-size: 26px;
                line-height: 35px;
              }
            }

            a, span {
              position: relative;
              display: block;
              margin: 26px 0;
              font-size: 21px;
              line-height: 35px;
              font-weight: 500;
              padding: 0 0 0 35px;

              &:before {
                content: '';
                position: absolute;
                width: 21px;
                height: 21px;
                top: 7px;
                left: 0;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }

              &._mail {
                &:before {
                  background-image: url("../../img/awards/mail.svg");
                }
              }

              &._phone {
                &:before {
                  background-image: url("../../img/awards/phone.svg");
                }
              }

              &._address {
                &:before {
                  background-image: url("../../img/awards/place.svg");
                }
              }
            }
          }

          &__bottom {
            position: relative;
            z-index: 2;
            align-self: flex-end;
            display: flex;
            margin: 50px 0 0 0;

            a {
              height: 21px;
              margin: 0 16px 0 0;

              &:last-child {
                margin: 0;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }

          &__img {
            position: absolute;
            width: 1007px;
            height: 527px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1023px) {
    .section-form {
      &__content {
        flex-direction: column;

        &_form {
          flex: initial;
        }

        &_description {
          flex: initial;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .section-form {
      &__content {
        &_description {
          padding: 25px 30px 35px;

          .description {
            &__top {
              p {
                font-size: 18px;
                line-height: 24px;

                strong {
                  font-size: 20px;
                  line-height: 28px;
                }
              }

              a {
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }

  //  gform==============
  #gform_submit_button_4 {
    margin-bottom: 0 !important;
    flex: 0 1 164px !important;
    margin: 0 !important;
  }

  .gform_footer.top_label {
    margin: 63px 0 0 0 !important;
  }
}

//nice-select-styles==================
.nice-select {
  padding: 25px 40px !important;
  border: 1px solid var(--light-blue) !important;
  border-radius: 100px !important;
  width: 100% !important;
  color: var(--dark-grey) !important;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  @media (max-width: 424px) {
    padding: 22px 40px !important;
    font-size: 12px;
  }

  &:after {
    width: 8px;
    height: 5px;
    border: initial !important;
    background-size: 8px 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icons/arrow-menu.svg");
    transform: translateY(50%) !important;
    right: 32px;
  }

  ul {
    border-radius: 25px !important;
    width: 100%;
    box-shadow: initial !important;
    border: 1px solid var(--light-blue);
    padding: 20px 0 !important;

    .option {
      font-weight: 500 !important;
    }

    li {
      font-size: 14px;
      padding: 0 41px !important;
      @media (max-width: 424px) {
        font-size: 12px;
      }

      &:hover {
        color: var(--light-blue);
        background-color: #F7FAFD !important;
      }

      &.focus {
        color: #63748A;
        font-weight: 500 !important;
        background: initial !important;
      }

      &.selected {
        font-weight: 500 !important;
      }
    }
  }
}