.form {
  &-wrap {
    padding: 40px 60px;
    background: #F7FAFD;
    border-radius: 25px;
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
    @include laptop-xs {
      padding: 30px 16px;
    }
    @include mobile-l {
      margin: 70px -16px;
      border-radius: 0;
      width: calc(100% + 32px);
    }
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 30px;
    }
  }
  &-description {
    font-size: 12px;
    line-height: 1.5;
    a {
      color: var(--dark-turqoise);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .rounded-button {
    display: inline-block;
  }
}
.input {
  &-control {
    margin-bottom: 26px;
    &_sbmt {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &-label {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    color: #303E55;
    margin-bottom: 20px;
    display: block;
    span {
      color: red;
    }
  }
  &-item {
    width: 100%;
    border: 1px solid #00C0E7;
    border-radius: 50px;
    padding: 9px 30px;
  }
}

