.hero {
  .container {
    @include flexAlignment(center, space-between, wrap);
    overflow: hidden;
  }

  .custom-image {
    @include laptop-xs {
      width: calc(100% - 20px);
    }
  }

  &__description {
    flex-basis: 48%;
    @include tablet-m {
      flex-basis: 100%;
      margin-bottom: 40px;
    }

    p {
      max-width: 405px;
      margin-bottom: 40px;
      @include mobile-l {
        margin-bottom: 30px;
      }
    }
  }

  &__image {
    position: relative;
    flex-basis: 50%;
    @include tablet-m {
      flex-basis: 100%;
    }

  }

  &-banner {
    margin: 0 auto -150px;
    width: 1320px;
    max-width: 100%;
    height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include laptop-xs {
      display: none;
    }
  }
}
