.hero{
  .container{
    @include flexAlignment(center, space-between, wrap)
    overflow: hidden;
  }
  .custom-image{
    @include laptop-xs{
      width: calc(100% - 20px);
    }
  }
  &__description{
    flex-basis: 48%;
    @include tablet-m {
      flex-basis: 100%;
      margin-bottom: 40px;
    }
    p{
      margin-bottom: 40px;
      @include mobile-l{
        margin-bottom: 30px;
      }
    }
  }
  &__image{
    position: relative;
    flex-basis: 50%;
    @include tablet-m {
      flex-basis: 100%;
    }

  }
}
