.members{
  margin: 160px 0;
  @include laptop-s-m {
  margin: 110px 0;
}
  &__blocks{
    display: flex;
    flex-wrap: wrap;
    margin: 96px -13px -13px -13px;
    @include tablet-m{
      margin-top: 20px;
      display: block;
      white-space: nowrap;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &__block{
    margin: 13px;
    width: calc((100% - (13px * 8))/4);
    @include tablet-m{
      width: 272px;
      display: inline-block;
    }
  }
  &__image{
    margin-bottom: 35px;
    img{
      width: 100%;
    }
  }
  &__info{
    @include flexAlignment(center, space-between);
    &-name{
      p{
        @include font(24px, 600, 35px);
        margin-bottom: 7px;
      }
      span{
        @include font(18px, 600, 30px);
        display: block;
      }
    }
    &-socials{
      display: flex;
      a{
        display: block;
        padding: 12px;
        margin-right: 8px;
        border-radius: 50px;
        background-color: var(--white);
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
}