.our-clients {
  margin-top: 110px;
  @include laptop-xs {
    margin-top: 31px;
  }

  &.cro-stack {
    .our-clients {
      &__block {
        width: calc((100% - (40px * 12)) / 6);
        @include laptop-s-m {
          width: auto;
          max-width: 286px;
        }
      }

      &__blocks {
        @include laptop-s-m {
          display: block;
          white-space: nowrap;
          overflow-x: auto;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  &.modal-clients {
    margin: 100px 0 0 0;

    .our-clients {
      &__block {
        width: calc((100% - (15px * 8)) / 4);
        margin: 0 15px;
        @include mobile-xl {
          margin: 15px;
          width: calc((100% - (15px * 4)) / 2);
        }
      }

      &__blocks {
        margin: 0 -15px;
        @include mobile-xl {
          display: flex !important;
          white-space: initial !important;
          overflow-x: initial !important;
          margin: -15px;
        }
      }
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    margin: -22px -40px;
    @include laptop-xs {
      display: block;
      white-space: nowrap;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__block {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 22px 40px;
    width: calc((100% - (40px * 10)) / 5);
    height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include laptop-xs {
      width: auto;
      max-width: 286px;
    }
  }
}