.our-clients {
  margin-top: 110px;
  @include laptop-xs {
    margin-top: 31px;
  }
  &__blocks{
    @include flexAlignment(center, space-between, wrap);
    @include mobile-xl {
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }
  &__block{
    margin-right: 5%;
    @include mobile-xl {
      flex: none;
    }
  }
}