.separator-rd{
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__top{
    max-width: 580px;
    margin: 20px 0 0 0;
  }
  &__right{
    margin: 0 0 0 30px;
  }
  &__img{
    position: relative;
    z-index: 2;
    width: 340px;
    height: 662px;
    &:after{
      content: '';
      position: absolute;
      bottom: -6px;
      left: -6px;
      width: 352px;
      height: 535px;
      background: var(--blue-gradient);
    }
    img{
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__bottom{
    max-width: 752px;
    width: 100%;
    margin: 85px 0 0 0;
    padding: 0 0 0 28px;
    ul{
      display: flex;
      flex-wrap: wrap;
      margin: -45px -24px;
      li{
        position: relative;
        width: calc((100% - (24px * 4)) / 2);
        margin: 45px 24px;
        p{
          position: relative;
          z-index: 2;
          strong{
            @extend h5;
            display: block;
            margin-bottom: 23px;
          }
        }
        &:after{
          content: '';
          position: absolute;
          top: -24px;
          left: -45px;
          width: 76px;
          height: 81px;
          background-size: 76px 81px;
          background-position: center;
          background-repeat: no-repeat;
        }
        &:nth-child(1),&:nth-child(2n + 5){
          &:after{
            background-image: url("../img/separator-rd/1.svg");
          }
        }
        &:nth-child(4n + 2){
          &:after{
            background-image: url("../img/separator-rd/2.svg");
          }
        }
        &:nth-child(4n + 3){
          &:after{
            background-image: url("../img/separator-rd/3.svg");
          }
        }
        &:nth-child(4n + 4){
          &:after{
            background-image: url("../img/separator-rd/4.svg");
          }
        }
      }
    }
  }
  @media(max-width: 1023px){
    &__content{
      flex-direction: column;
    }
    &__right{
      margin: 90px 0 0 0;
    }
    &__top{
      max-width: 100%;
    }
    &__img{
      height: 352px;
      margin: 0 auto;
      &:after{
        height: 200px;
      }
    }
  }
  @media (max-width: 567px) {
    &__bottom{
      margin: 64px 0 0 0;
      ul{
        margin: 0;
        li{
          width: 100%;
          max-width: 350px;
          margin: 0 0 52px 0;
        }
      }
    }
    &__right{
      margin: 40px 0 0 0;
    }
    &__img{
      width: 312px;
      &:after{
        width: 328px;
        left: -8px;
      }
    }
    &__top{
      h3{
        margin-bottom: 20px;
      }
    }
  }
  @media(max-width: 359px){
    &__img{
      width: 100%;
      &:after{
        display: none;
      }
    }
  }
}
