.separator{
  margin-top: 110px;
  &_decorated {
    .container {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        opacity: 0.05;
        width: 240px;
        height: 465px;
        border-top-left-radius: 65px;
        border-bottom-right-radius: 65px;
        transform: translate(-150px, -50%) skew(-25deg);
        @include tablet-m{
          top: 150px;
          transform: translate(-75px , 5%) skew(-25deg);
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.05;
        width: 220px;
        height: 465px;
        border-top-right-radius: 65px;
        border-bottom-left-radius: 65px;
        transform: translate(60%, 40%) skew(25deg);
        @include tablet-m{
          transform: translate(35%, 40%) skew(25deg);
        }
      }
    }
  }

  &_blue {
    .container {
      &:before {
        background: var(--light-blue);
      }

      &:after {
        background: var(--dark-turqoise);
      }
    }
  }

  &_red {
    .container {
      &:before {
        background: var(--tomato);
      }

      &:after {
        background: var(--sandy);
      }
    }
  }



  &__blocks{
    @include gridTemplate(4, 1, 70px 0, 95px 60px, 45px 0, 50px 0);

    &_binary {
      @include gridTemplate(2, 1, 70px 0, 90px 150px, 45px 0, 50px 0);
    }
  }
  &__block{
    @include flexAlignment(center);
    flex-direction: column;
    text-align: center;
    h6{
      margin-bottom: 28px;
    }
  }
  &__icon{
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0 , -50%);
      opacity: .1;
      width: 45px;
      height: 85px;
    }
    &_to-left{
      &:before{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transform: translate(0 , -50%) skew(25deg);
      }
    }
    &_to-right{
      &:before{
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transform: translate(0 , -50%) skew(-25deg);
      }
    }
    &_left{
      &:before{
        left: -30px;
      }
    }
    &_right{
      &:before{
        right: 0;
      }
    }
    &_center{
      &:before{
        right: calc(50% + 25px);
      }
    }
    &_blue{
      &:before{
        background: #00C0E7;
      }
    }
    &_sandy{
      &:before{
        background: #FFC33A;
      }
    }
    &_tomato{
      &:before{
        background: #F84E6C;
      }
    }
    &_darkturqoise{
      &:before{
        background: #00E3CF;
      }
    }
  }
}