.footer{
  position: relative;
  overflow: hidden;
  width: 100%;
  font-weight: 600;
  padding-top: 55px;
  margin-top: 180px;
  @include laptop-xs {
    background-size: 100%;
    background-position: center 35%;
    margin-top: 50px;
  }
  &__bg{
    position: absolute;
    right: -305px;
    bottom: -93px;
    width: 891px;
    height: 467px;
    @include mobile-xl {
      right: -30px;
      bottom: -145px;
      width: 467px;
      height: 401px;
    }
  }
  &__inner{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    margin: -35px;
    .text2{
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
    }
  }
  &__introduction{
    width: 200px;
    @include laptop-xs {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__logo{
    width: 205px;
    height: 23px;
    margin: 0 28px 0 0;
    @include laptop-xs {
      margin: 0 0 15px 0;
    }
  }
  &__list{
    width: calc((100% - (35px * 8))/4);
    margin: 35px;
    @include tablet-m{
      width: calc((100% - (35px * 4))/2);
    }
    @media(max-width: 359px){
      width: calc((100% - (35px * 2)));
    }
    &.light-blue{
      li{
        &:before{
          background: url("../img/separator-rd/1.svg");
        }
        &:first-child{
          p{
            color: var(--light-blue);
          }
        }
      }
      span{
        color: var(--light-blue);
        border: 1px solid var(--light-blue);
      }
    }
    &.sandy{
      li{
        &:before{
          background: url("../img/separator-rd/2.svg");
        }
        &:first-child{
          p{
            color: var(--sandy);
          }
        }
      }
      span{
        color: var(--sandy);
        border: 1px solid var(--sandy);
      }
    }
    &.tomato{
      li{
        &:before{
          background: url("../img/separator-rd/3.svg");
        }
        &:first-child{
          p{
            color: var(--tomato);
          }
        }
        span{
          color: var(--tomato);
          border: 1px solid var(--tomato);
        }
      }
    }
    &.turqoise{
      li{
        &:before{
          background: url("../img/separator-rd/4.svg");
        }
        &:first-child{
          p{
            color: var(--dark-turqoise);
          }
        }
        span{
          color: var(--dark-turqoise);
          border: 1px solid var(--dark-turqoise);
        }
      }
    }
    li{
      @include flexAlignment(center, false);
      margin-bottom: 24px;
      picture + a {
            margin-left: 17px;
      }
      &:first-child{
        position: relative;
        margin-bottom: 32px;
        &:before{
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -24px;
          width: 45px;
          height: 50px;
          background-size: 45px 50px;
          background-repeat: no-repeat;
          background-position: center;
        }
        p{
          position: relative;
          z-index: 2;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.4em;
          white-space: nowrap;
        }
      }
      span{
        text-align: center;
        font-size: 12px;
        font-weight: 900;
        line-height: 22px;
        border-radius: 500px;
        padding: 0 7px;
        margin: 0 0 0 15px;
        white-space: nowrap;
      }
    }
  }
  &__bottom{
    position: relative;
    z-index: 2;
    padding: 47px 0;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 3px;
      background: #F7FAFD;
    }
    &-left{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 593px;
      p{
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        max-width: 357px;
      }
    }
    &-right{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 175px;
      width: 100%;
    }
    @include flexAlignment(center, space-between);
    @include laptop-xs {
      flex-direction: column;
      padding: 20px 0;
      &-left{
        max-width: 100%;
        align-items: flex-start;
        flex-direction: column;
      }
      &-right{
        margin: 40px 0 0 0;
      }
    }
    @include tablet-m{

    }
  }
}