.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 45px 0;
  width: 100%;
  background: var(--white);
  z-index: 999;
  box-shadow: none;
  transition: all .3s ease-in;
  &_scrolled{
    padding: 25px 0;
    box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.10);
  }
  @include laptop-s-m {
    padding: 35px 0;
  }
  &__inner{
    @include flexAlignment(center, space-between);
    width: 100%;
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
    @include laptop-s-m {
      padding: 0 16px;
    }
  }
  &__logo{
    @media(min-width: 1024px){
      a{
        img{
          width: 300px;
        }
      }
    }
    @include laptop-s-m{
      a{
        img{
          width: 200px;
        }
      }
    }
    @include mobile-l{
      a{
        img{
          width: 175px;
        }
      }
    }
    @include mobile-m{
      a{
        img{
          width: 120px;
        }
      }
    }
  }
  &__content{
    @include flexAlignment(center, flex-end);
    width: 100%;
    background: var(--white);
    @include laptop-s-m{
      display: block;
      position: absolute;
      overflow: auto;
      top: 0;
      left: 0;
      //flex-direction: column;
      //align-items: flex-start;
      //justify-content: flex-start;
      margin-top: 90px;
      padding: 0 16px;
      height: calc(100vh - 90px);
      transform: translateX(-100%);
      transition: .3s ease-in;
      &::-webkit-scrollbar {
        display: none;
      }
      .rounded-button{
        margin-bottom: 90px;
      }
      &.active{
        transform: translateX(0);
      }
    }
  }
  &__nav{
    width: 60%;
    margin-right: 5%;
    @include laptop-s-m {
      width: 100%;
      margin: 40px 0;
    }
  }
  &-list{
    @include flexAlignment(center, flex-end);
    @include laptop-s-m {
      flex-wrap: wrap;
    }
    a{
      @include font(14px, 600, 30px)
    }
    .menu-item{
      position: relative;
      margin-right: 8%;
      @include laptop-s-m {
        width: 100%;
        margin-right: 0;
        margin-bottom: 8px;
      }
      &:last-of-type{
        margin-right: 0;
      }
      a{
        @include laptop-s-m {
          @include font(30px, 400, 60px)
        }
      }
    }
    a{
      transition: .3s ease-in;
      &:hover{
        @media(min-width: 1199px){
          color: var(--light-blue);
        }
      }
    }
  }
  .menu-item-has-children{
    //margin-right: calc(8% + 20px);

    .sub-menu{
      position: absolute;
      left: 0;
      top: 30px;
      padding-top: 10px;
      min-width: 235px;
      opacity: 0;
      transition: .3s ease-in;
      z-index: -5;
      li{
        padding: 0 24px 16px;
        background-color: #F7FAFD;
        &:first-of-type{
          padding-top: 24px;
        }
        &:last-of-type{
          padding-bottom: 24px;
        }
        a{
          color: inherit!important;
          transition: .3 ease-in;
          &:hover{
            color: var(--light-blue)!important;
          }
          &:before , &:after{
            display: none;
          }
          @include laptop-s-m {
            @include font(14px, 600, 30px)
          }
        }
      }
      @include laptop-s-m{
        position: static;
        padding-top: 0;
        opacity: 1;
        z-index: 0;
        max-height: 0;
        overflow: hidden;
      }
    }
        a {
          position: relative;
          @include laptop-s-m{
            width: 100%;
            display: block;

          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: -20px;
            display: block;
            width: 10px;
            height: 2px;
            transition: all 0.3s ease-out;
            background-color: var(--dark-grey);
            transform: translate(-3px, -50%) rotate(45deg);
            @include laptop-s-m {
              right: 0;
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -20px;
            display: block;
            width: 10px;
            height: 2px;
            transition: all 0.3s ease-out;
            background-color: var(--dark-grey);
            transform: translate(3px, -50%) rotate(-45deg);
            @include laptop-s-m {
              right: 0;
            }
          }
        }
    &:hover{
      @media(min-width: 1199px){
          .sub-menu{
            opacity: 1;
            z-index: 0;
          }
       a {
          color: var(--light-blue);
          &::after {
            background-color: var(--light-blue);
            transform: translate(3px, -50%) rotate(45deg);
          }

          &::before {
            background-color: var(--light-blue);
            transform: translate(-3px, -50%) rotate(-45deg);
          }
        }
      }
    }
    &.active{
          .sub-menu {
            @include laptop-s-m {
              max-height: 500px;
            }
          }
            a {
              color: var(--light-blue);

              &::after {
                background-color: var(--light-blue);
                transform: translate(3px, -50%) rotate(45deg);
              }

              &::before {
                background-color: var(--light-blue);
                transform: translate(-3px, -50%) rotate(-45deg);
              }
            }
    }
  }
  &__burger {
    position: relative;
    z-index: 100;
    display: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: 0;
    vertical-align: middle;
    transition: .25s ease-in-out;
    @include laptop-s-m {
      display: block;
    }
    &-lines{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 13px;
      overflow: hidden;
      transition: .25s ease-in-out;
      @media (min-width: 375px) {
        transform: scale(1.5);
      }
      &.active{
        span{
          &:nth-child(1){
            top: 10.5px!important;
            left: 50%;
            width: 0%;
          }
          &:nth-child(2){
            left: 0!important;
            transform: rotate(45deg);
          }
          &:nth-child(3){
            left: 0!important;
            transform: rotate(-45deg);
          }
          &:nth-child(4){
            top: 10.5px!important;
            left: 50%;
            width: 0%;
          }
        }
      }
      span{
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--dark-grey);
        border-radius: 5px;
        transition: .25s ease-in-out;
        &:nth-child(1){
          top: 0;
        }
        &:nth-child(2){
          top: 5px;
        }
        &:nth-child(3){
          top: 5px;
        }
        &:nth-child(4){
          top: 10px;
        }
      }
    }
  }
}