.modal{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 62, 85, .5);
  transition: .3s ease-in;
  z-index: 999;
  &.active{
      display: flex;
  }
  &__wrapper{
    position: relative;
    margin-top: 45px;
    width: 705px;
    min-height: 730px;
    padding: 65px;
    background-color: var(--white);
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      top: -45px;
      right: 0;
      opacity: .05;
      width: 190px;
      height: 360px;
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
      background-color: var(--sandy);
      transform: translate(30%, 0) skew(25deg);
      @include tablet-m{
        transform: translate(60px , -50%) skew(25deg);
      }
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 65px;
      left: 0;
      opacity: .05;
      width: 200px;
      height: 450px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      background-color: var(--light-blue);
      transform: translate(-55%, 0) skew(-25deg);
      @include tablet-m{
        transform: translate(60px , -50%) skew(25deg);
      }
    }
    h3{
      text-align: center;
      font-size: 42px;
      @include tablet-m{
        font-size: 32px;
      }
      strong{
        background: linear-gradient(90.66deg, #00C0E7 0.66%, #00D1E3 62.5%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__close{
    position: absolute;
    top: 40px;
    right: 32px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    overflow: visible;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    span{
      display: block;
      width: 16px;
      height: 2px;
      background-color: var(--dark-grey);
      &:nth-of-type(1){
        transform: rotate(45deg);
      }
      &:nth-of-type(2){
        transform: rotate(-45deg);
        margin-top: -2px;

      }
    }
  }
  &-tabs{
    &__type-bar{
      margin-bottom: 55px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      div{
        display: block;
        width: fit-content;
        min-height: 35px;
        font-weight: 600;
        color: #e5e5e5;
        border: none;
        border-radius: 50px;
        outline: none;
        padding: 5px 30px;
        cursor: pointer;
        appearance: none;
        transition: .3s;
        &.active{
          font-weight: 900;
        }
        &:first-of-type{
          &.active{
            color: var(--tomato);
            background-color: rgba(248, 78, 108, .1);
          }
        }
        &:nth-of-type(2){
          &.active{
            color: var(--sandy);
            background-color: rgba(255, 195, 58, .1);
          }
        }
        &:last-of-type{
          &.active{
            color: var(--dark-turqoise);
            background-color: rgba(0, 227, 207, .1);
          }
        }
      }
    }
    &__inner{
      display: none;
      &.active{
        display: block;
      }
    }
    &__action{
      h6{
        margin: 0 0 20px 20px;
      }
    }
    &__actions{
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      .modal-tabs__action{
        width: calc(50% - 14px);
      }
    }
    &__button{
      position: relative;
      display: block;
      margin-top: 50px;
      width: 100%;
      height: 50px;
      font-weight: 900;
      background: var(--white);
      border: 1px solid var(--light-blue);
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      appearance: none;
      z-index: 2;
      transition: .3s;
      &:after{
        content: url("../img/icons/light_arrow_right.svg");
        position: absolute;
        right: -1px;
        top: -1px;
        @include flexAlignment(center, center);
        border-radius: 100px;
        background: var(--light-blue);
        transition: .3s ease-in;
        width: 50px;
        height: 50px;
        z-index: 3;
      }
    }
    &__prompt {
      position: absolute;
      bottom: 0;
      left: 0;
      color: red;
      opacity: 0;
      transform: translate(25%, 0);
      transition: .3s ease-in-out;

      &.active {
        transform: translate(25%, 100%);
        opacity: 1;
      }
    }
    &__input{
        position: relative;
        padding: 10px 40px;
        width: 100%;
        background: var(--white);
        border: 1px solid var(--light-blue);
        border-radius: 100px;
        z-index: 2;
        transition: .3s ease-in-out;
        //&:after{
        //  content: url("../img/icons/light_arrow_right.svg");
        //  position: absolute;
        //  right: 0;
        //  top: 0;
        //  @include flexAlignment(center, center);
        //  border-radius: 100px;
        //  background: var(--light-blue);
        //  transition: .3s ease-in;
        //  width: 50px;
        //  height: 50px;
        //  z-index: 3;
        //}
      &.incorrect {
        border: 1px solid red;
      }
      &_no-after{
        &:after{
          display: none;
        }
      }
      input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        &::placeholder{
          font-weight: 600;
          color: #e5e5e5;
        }
        &::-webkit-input-placeholder {
          opacity: 1;
          transition: .3s;
        }
        &:focus::-webkit-input-placeholder{
          opacity: 0;
        }
      }
    }
    &__select{
      position: relative;
      display: inline-block;
      width: 100%;
      select {
        position: relative;
        display: block;
        width: 100%;
        height: 50px;
        font-weight: 900;
        color: #e5e5e5;
        background: var(--white);
        border: 1px solid var(--light-blue);
        border-radius: 50px;
        outline: none;
        padding: 10px 40px;
        cursor: pointer;
        appearance: none;
        transition: .3s;
        &.incorrect {
          border: 1px solid red;
        }
        @include mobile-xl{
          width: 100%;
        }
      }
      &:after{
        content: url("../img/icons/light_arrow_right.svg");
        position: absolute;
        right: 0;
        top: 0;
        @include flexAlignment(center, center);
        border-radius: 100px;
        background: var(--light-blue);
        transition: .3s ease-in;
        width: 50px;
        height: 50px;
        transform: rotate(90deg);
        z-index: 3;
      }
      &.active{
        &::after{
          transform: rotate(-90deg);
        }
      }

      &-options{
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        padding: 10px 40px;
        border: 1px solid var(--light-blue);
        border-radius: 25px;
        background-color: var(--white);
        z-index: 5;
        &:before{
          content: '';
          width: 100%;
          height: 100%;
          background-color: var(--white);
        }
        li{
          cursor: pointer;
          &:first-of-type{
            color: var(--light-blue);
          }
        }
        .text2{
          line-height: 30px;
        }
      }
      &-wrapper {
        margin-bottom: 25px;
        position: relative;
      }
    }
    &__bottom{
      text-align: center;
      h5{
        margin-bottom: 50px;
        font-weight: 400;
        strong{
          background: linear-gradient(90.66deg, #00C0E7 0.66%, #00D1E3 62.5%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &__expects{
      @include flexAlignment($horizontal: space-between)
    }
    &__expect{
      display: flex;
      flex-direction: column;
      align-items: center;
      &-icon{
        position: relative;
        margin-bottom: 30px;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translate(0 , -50%);
          opacity: .1;
          width: 45px;
          height: 85px;
        }
        &_left{
          &:before{
            left: -2px;
          }
        }
        &_right{
          &:before{
            right: 10px;
          }
        }
        &_center{
          &:before{
            right: calc(50% + 25px);
          }
        }
        &_to-left{
          &:before{
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            transform: translate(0 , -50%) skew(25deg);
          }
        }
        &_to-right{
          &:before{
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            transform: translate(0 , -50%) skew(-25deg);
          }
        }
        &_blue{
          &:before{
            background: #00C0E7;
          }
        }
        &_sandy{
          &:before{
            background: #FFC33A;
          }
        }
        &_tomato{
          &:before{
            background: #F84E6C;
          }
        }
      }
      p{
        font-weight: 700;
      }
    }
    &__review{
      position: relative;
      width: 70%;
      &-logo{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        z-index: 2;
      }
      &-author{
        margin-top: 10px;
        display: flex;
        .text2{
          margin-right: 14px;
        }
        span{
          color: #8E8E8E;
        }
      }
      &-inner{
        background-color: var(--white);
        margin: 5px;
        padding: 23px 29px;
        text-align: left;
        font-size: 14px;
        line-height: 24px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(90.66deg, #00C0E7 0.66%, #00D1E3 62.5%);
        box-sizing: border-box;
        opacity: 1;
        z-index: -2;
        transition: .3s ease-in;
      }
    }
    &__person{
      position: relative;
      width: 30%;
      height: auto;
      transform: translate(-5px, 0);
      z-index: -3;
      &-inner{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 5px;
        height: calc(100% - 10px);
        background-color: var(--white);
        picture{
          width: 80%;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(90.66deg, #FFC33A 26.24%, #FF566D 62.83%);
        box-sizing: border-box;
        opacity: 1;
        z-index: -2;
        transition: .3s ease-in;
      }
    }
  }
}

#business{

  .modal-tabs__bottom{
    margin-top: 55px;
  }
}
#website{

}
#proposal{
  .modal-tabs__bottom{
    display: flex;
    margin-top: 35px;
  }
}